mixin td(align: center, valign: top)
	td(align=align valign=valign)

mixin table(class)
	table.!{class}(border='0' cellpadding='0' cellspacing='0')

mixin img(class, src)
	img.image--fix.!{class}(src=src)

html(xmlns='http://www.w3.org/1999/xhtml')
head
	meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')

body(style='margin: 0px; padding: 0px;')
	table#bodyTable(border='0' cellpadding='0' cellspacing='0' height='100%' width='100%')
		tr
			td(align='center' valign='top')
				table(border='0' cellpadding='0' cellspacing='0' style='max-width: 600px; margin-left: 16px; margin-right: 16px;')
					tr
						td(align='center' valign='top' style='padding-top: 48px; padding-bottom: 48px;')
							a(href='http://shopsavvy.com?utm_source=verified_users&utm_medium=email}&utm_term=11_26_14&utm_content=logo&utm_campaign=shopsavvy_promo')
								img.headerLogo.imageFix(src='https://s3.amazonaws.com/shopsavvy.email/logo@2x.png')

		table#emailFooter(border='0' cellpadding='0' cellspacing='0' width='100%')
			tr
				td(align='center' valign='top')
					h2 Shop Responsibly,
			tr
				td(align='center' valign='top')
					h3 The ShopSavvy Team
			tr
				td(align='center' valign='top')
					p ShopSavvy is the best way to discover all the deals from your favorite stores in one place.
			tr
				td(align='center' valign='top')
					table(border='0' cellpadding='0' cellspacing='0' width='100%')
						tr
							td(align='right' valign='top')
								a(href='https://itunes.apple.com/us/app/shopsavvy-barcode-scanner/id338828953?mt=8' target='_blank')
									img.appDownload.imageFix(src='https://s3.amazonaws.com/shopsavvy.email/assets/iphone.png' style='width: 123px; height: auto;')
							td(align='left' valign='top')
								a(href='https://play.google.com/store/apps/details?id=com.biggu.shopsavvy&amp;hl=en' target='_blank')
									img.appDownload.imageFix(src='https://s3.amazonaws.com/shopsavvy.email/assets/google.png' style='width: 123px; height: auto;')
			tr
				td(align='center' valign='top')
					table(border='0' cellspacing='0' width='100%')
						tr
							td(align='center' valign='top')
								table(border='0' cellspacing='0')
									tr
										td(align='center' valign='top')
											h4.legalStuff &copy;2014 ShopSavvy, Inc. All Rights Reserved
										td(align='center' valign='top')
											h4.legalStuff 38 Bluxome St. Ste 410, San Francisco, CA 94115
						tr
							td(align='center' valign='top')
								table(border='0' cellspacing='0')
									tr
										td(align='center' valign='top')
											a.legalStuff(href='http://shopsavvy.com/privacy' target='_blank') Privacy Policy
										td(align='center' valign='top')
											a.legalStuff(href='http://shopsavvy.com/terms' target='_blank') Terms and Conditions
										td(align='center' valign='top')
											a.legalStuff(href='[Unsubscribe]' target='_blank') Change Email Preferences
										td(align='center' valign='top')
											a.legalStuff(href='http://shopsavvy.com/unsubscribe' target='_blank') Unsubscribe